






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>演示文档</title>
    <style type="text/css">
        /*    input{background: green}
            input[type=submit]{
                background: orange
            }*/
    </style>
</head>
<body>



<form action="" id = "asd">


    <input type="text" id = "asdq" class="name1" placeholder="输入选项内容">

    <input type="text" class="question" placeholder="输入题目内容">
    <input type="text" class="question" placeholder="输入题目内容">
    <input type="text" class="question" placeholder="输入题目内容">
    <input type="text" class="question" placeholder="输入题目内容">
    <input type="text" class="question" placeholder="输入题目内容">
    <input type="text" class="question" placeholder="输入题目内容">
    <input type="text" class="question" placeholder="输入题目内容">
    <input type="submit" value="提交" onclick="f1(this)">
</form>

<script>

    var arrs = [];

    function f1(e) {
        var m = 0;
        alert("xxx");
        var thisForm = e.parentElement;
        var fele = thisForm.elements;
        arrs[0] = [];
        for(var i=0;i<fele.length;i++){
            var x=fele[i];
            if(x.className === "question"){
                arrs[0][m] = x.value;
                alert(arrs[0][m]);
            }
        }
    }
</script>





<form action="#" method="post" name="form01">
    <p>昵称：<input type="text" name="username"></p>
    <p>密码：<input type="password" name="password"></p>
    <p><input type="submit" value="提交"></p>
</form>
<script type="text/javascript">
    function getFele(){
        var fele=form01.elements;
        // alert(fele.length)
        for(var i=0;i<fele.length;i++){
            var e=fele[i];
            if (e.type=='submit') {
                e.style.background='orange'
            }else{
                e.style.background='green'
            }

        }
    }
    getFele()
</script>
</body>
</html>