

<body style="background-color: #e9e9e9">




<!--  here  -->

<div class="am-u-md-5 am-u-sm-centered"  style="background-color: #FFFFFF ;box-shadow: 10px 10px 5px">
    <form class="am-form am-form-horizontal" action="../usercontroller/logincontrol" method="post">
        <div class="am-form-group">
            <br>
        </div>

        <div class="am-form-group" style="text-align:center">
            <h1>登录</h1>
            <hr>
        </div>

        <div class="am-form-group">
            <label for="log-email" class="am-u-sm-2 am-form-label">邮件</label>
            <div class="am-u-sm-10">
                <input id="log-email" type="email" name="email" placeholder="输入你的电子邮件">
            </div>
        </div>

        <div class="am-form-group">
            <label for="log-password" class="am-u-sm-2 am-form-label">密码</label>
            <div class="am-u-sm-10">
                <input id="log-password" type="password" name="password"  placeholder="请输入密码">
            </div>
        </div>

        <div class="am-form-group">
            <div class="am-u-sm-offset-2 am-u-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name = "remember"  value="yes"> 记住我
                    </label>
                </div>
            </div>
        </div>

        <div class="am-form-group">
            <div class="am-u-sm-6 ">
                <button type="submit" name="login"  class="am-btn am-btn-primary am-fr">提交登入</button>
            </div>
            <div class="am-u-sm-6 ">
                <a href="register"><button type="button" class="am-btn am-btn-success" >点击注册</button></a>
            </div>
        </div>
        <div class="am-form-group">
            <hr>
            <br>
        </div>
    </form>
</div>



